@charset "UTF-8";
/*
 * SMACSS + SCSS starter v2.0
 * Inspired by SMACSS http://smacss.com
 * Author: @jonathanpath
 * Date: 11 July 2013
 *
 * https://github.com/jonathanpath/SASS-SMACSS
 * See file structure in http://jonathanpath.com/sass+smacss/scss/style.scss
 * Sass Structure inspired by : https://github.com/sutter/POPY-starter-HTML-SCSS
 *
 * Coding rules : https://github.com/necolas/idiomatic-css
 *
 */
/* Tools */
/* ===========================
   Tools/Helpers
   =========================== */
/*
 * Center Vertical
 */
.absolute-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.absolute-center-h {
  width: 100%;
  text-align: center; }

/*
 * Image replacement
 */
.ir, .btn-pin, .btn-facebook span, .btn-twitter span, .btn-instagram span, .btn-hellocoton span {
  text-indent: 100%;
  display: block;
  background-repeat: no-repeat;
  white-space: nowrap;
  overflow: hidden; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .btn-medias:before, .m-post .footer:before, .block-form:before,
.clearfix:after,
.btn-medias:after,
.m-post .footer:after,
.block-form:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after, .btn-medias:after, .m-post .footer:after, .block-form:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix, .btn-medias, .m-post .footer, .block-form {
  *zoom: 1; }

/* =Layout
------------------- */
.ul-list-inline {
  list-style: none;
  margin: 0;
  padding: 0; }
  .ul-list-inline li {
    display: inline-block;
    vertical-align: middle; }
    .lt-ie8 .ul-list-inline li {
      display: inline;
      zoom: 1; }

/* = Container
-------------------*/
.wrapper, .l-footer-container {
  max-width: 1240px;
  margin-left: auto;
  height: 100%;
  margin-right: auto; }

/* =Wordpress alignment
-------------------*/
.alignleft {
  display: inline;
  float: left; }

.alignright {
  display: inline;
  float: right; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.txtleft {
  text-align: left; }

.txtright {
  text-align: right; }

/* Base */
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* ===========================
   Base
   =========================== */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #484a50; }

a {
  text-decoration: none;
  color: #484a50;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer; }

::-moz-selection {
  background: #484a50;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #484a50;
  color: #fff;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  width: 100%; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/* ==|====================
   Base/Form
   ======================= */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="search"],
textarea {
  font-size: 1em;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #666;
  padding: .5em;
  border: 1px solid #bfbfbf;
  outline: 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background-color: #f7f7f7; }
  input[type="text"]::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder,
  input[type="password"]::-webkit-input-placeholder,
  input[type="date"]::-webkit-input-placeholder,
  input[type="search"]::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: white; }
  input[type="text"]:-moz-placeholder,
  input[type="email"]:-moz-placeholder,
  input[type="password"]:-moz-placeholder,
  input[type="date"]:-moz-placeholder,
  input[type="search"]:-moz-placeholder,
  textarea:-moz-placeholder {
    color: white; }
  input[type="text"]:-ms-input-placeholder,
  input[type="email"]:-ms-input-placeholder,
  input[type="password"]:-ms-input-placeholder,
  input[type="date"]:-ms-input-placeholder,
  input[type="search"]:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: white; }
  input[type="text"]:hover,
  input[type="email"]:hover,
  input[type="password"]:hover,
  input[type="date"]:hover,
  input[type="search"]:hover,
  textarea:hover {
    border-color: #a5a5a5; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="search"]:focus,
  textarea:focus {
    border-color: #999; }

/* ==|====================
   Base/Typos // Import, Tailles, couleurs, fonts
   ======================= */
@font-face {
  font-family: 'Brusher';
  src: url("fonts/brusher/brusher-regular.eot");
  src: url("fonts/brusher/brusher-regular.eot?#iefix") format("embedded-opentype"), url("fonts/brusher/brusher-regular.woff2") format("woff2"), url("fonts/brusher/brusher-regular.woff") format("woff"), url("fonts/brusher/brusher-regular.ttf") format("truetype"), url("fonts/brusher/brusher-regular.svg#allerregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.specialtypo, .m-slide h2 {
  font-family: 'Brusher', 'Lato', sans-serif; }

/* Layout */
/* ==|====================
   Layout/Header
   ======================= */
.l-header {
  background: white;
  border-bottom: 2px solid #eabccb;
  text-align: center; }

@media screen and (min-width: 62em) {
  .l-header {
    height: 90px; }

  .ir-logo1 {
    float: left; }

  .nav {
    float: right;
    width: 363px;
    /* to modify */
    width: 371px;
    /* */ }

  .nav-li:first-child {
    width: 100px;
  }

  .nav-li {
    float: left;
    padding: 30px; } }
/* LOGO */
.ir-logo1 {
  background-image: url("img/ie/logo.jpg");
  max-width: 130px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  margin: 20px auto;
  height: 100%; }
  @media screen and (min-width: 62em) {
    .ir-logo1 {
      margin: 0px auto; } }

.backgroundsize .ir-logo1 {
  background-image: url("img/logo.jpg"); }

/* ==|====================
   Layout/Nav
   ======================= */
/* togglebtn */
.toggle-btn {
  background: url("img/todobtnmenu.jpg") no-repeat center center;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer; }
  @media screen and (min-width: 62em) {
    .toggle-btn {
      display: none; } }

.toggle-btn.close {
  background: url("img/todobtnmodal.jpg") no-repeat center center; }

/* Nav */
.l-nav.hide {
  display: none; }
  @media screen and (min-width: 62em) {
    .l-nav.hide {
      display: block; } }

@media screen and (max-width: 61em) {
  .nav-li {
    /* to modify */
    text-align: center;
    font-size: 2em;
    width: 25%;
    float: left;
    /* */ }
    /*.nav-li span {
      display: none; }*/
    .nav-li a {
      width: 100%;
      display: block;
      padding: 15px 0;
      border: 0;
      border-radius: 0; }
    .nav-li a:hover {
      background: #eabccb;
      color: white;
      border: 0;
      font-weight: bold;
      border-radius: 0; } }
@media screen and (min-width: 62em) {
  .nav-li {
    /* to modify */
    width: 25px;
    font-size: 1.5em;
    /* */ }
    /*.nav-li span {
      display: none; }*/
    .nav-li a:hover {
      background: none;
      font-weight: normal;
      border-bottom: 1px solid;
      color: #484a50; }
    .nav-li a.btn:hover {
      border-bottom: 1px solid #eabccb;
      color: #eabccb; } }

/* ==|====================
   Layout/Footer
   ======================= */
.l-footer {
  background: url("img/bg-gradient.jpg") center top repeat-y;
  background-size: 100% 1px; }

.l-footer-container {
  background: white;
  padding: 79px 5% 150px;
  position: relative; }

.btn-medias {
  width: 190px;
  margin: 0px auto;
  text-align: center;
  height: 60px;
  /* to modify */
  width: 290px;
  /* */ }
  .btn-medias li {
    display: inline-block;
    width: 60px;
    margin: 0;
    padding: 0;
    height: 60px; }
  .btn-medias a {
    position: relative;
    top: 15px;
    color: white;
    font-size: 1.5em; }

.footer-right {
  margin-top: 50px; }

/* to modify */
.footer-center {
  margin: 0 auto;
  max-width: 600px;
  text-align: center; }
  .footer-center .block-form {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 288px; }

/* */
@media screen and (min-width: 62em) {
  .l-footer-container {
    padding: 79px 106px; }

  .footer-left {
    float: left;
    width: 60%;
    border-right: 1px solid #e3e3e3;
    padding: 0 90px 0 21px;
    position: relative;
    height: 100%; }

  .footer-right {
    float: right;
    margin-top: 0;
    width: 40%;
    padding: 0 21px 0 110px; } }
.l-footer {
  font-weight: lighter; }

h3 {
  text-transform: uppercase;
  font-weight: normal; }

.footer-right input, .footer-right .btn {
  width: 100%;
  margin-bottom: 22px;
  max-width: 400px; }
.footer-right .btn {
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0; }

.copyright {
  position: absolute;
  bottom: 30px; }
  .copyright::before {
    content: "|";
    position: absolute;
    top: 0;
    color: #eabccb;
    left: 0; }
  .copyright p {
    padding: 0;
    margin: 0 0 0 13px;
    font-weight: normal; }
  .copyright .legend {
    font-weight: lighter; }
  @media screen and (min-width: 62em) {
    .copyright {
      bottom: 0; } }

/* ==|======================
   Layout/Home
   ========================= */
/* Modules */
/* ==|====================
   Module/Button
   ======================= */
.btn {
  text-transform: uppercase;
  padding: 0.5em 1em;
  background: #E5A5B6;
  color: white;
  font-size: 14px;
  border-radius: 25px;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .btn:hover {
    background: white;
    color: #E5A5B6;
    border: 1px solid #E5A5B6; }

.btn-invert {
  text-transform: uppercase;
  padding: 0.5em 1em;
  background: white;
  color: #E5A5B6;
  font-size: 14px;
  border-radius: 25px;
  border: 1px solid #E5A5B6;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .btn-invert:hover {
    background: #E5A5B6;
    color: white; }

.btn-likes::before {
  content: "\65";
  position: relative;
  margin-right: 5px;
  top: 2px; }

.btn-pin {
  width: 52px;
  height: 23px;
  background: url("img/sprite-logos.png") no-repeat center center; }

.btn-facebook::before {
  content: "\63"; }

.btn-twitter::before {
  content: "\68"; }

.btn-instagram::before {
  content: "\66"; }

.btn-hellocoton::before {
  content: "\70"; }

.link-pink {
  color: #E5A5B6;
  font-weight: lighter;
  font-size: 15px; }
  .link-pink::before {
    content: "▸";
    margin-right: 7px; }

/* ==|================
   Module/Icons
   =================== */
@font-face {
  font-family: "iconsfont";
  src: url("fonts/icons/icons.eot");
  src: url("fonts/icons/icons.eot?#iefix") format("embedded-opentype"), url("fonts/icons/icons.woff") format("woff"), url("fonts/icons/icons.ttf") format("truetype"), url("fonts/icons/icons.svg#iconsfont") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before, .iconreplace {
  font-family: "iconsfont" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before, .iconreplace:before, .iconadd, .btn-likes::before, .btn-facebook::before, .btn-twitter::before, .btn-instagram::before, .btn-hellocoton::before {
  font-family: "iconsfont" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-bubbles:before {
  content: "\61"; }

.icon-chemestry:before {
  content: "\62"; }

.icon-facebook:before {
  content: "\63"; }

.icon-female-user:before {
  content: "\64"; }

.icon-heart:before {
  content: "\65"; }

.icon-instagram:before {
  content: "\66"; }

.icon-magic-wand:before {
  content: "\67"; }

.icon-twitter:before {
  content: "\68"; }

.icon-youtube:before {
  content: "\69"; }

.icon-hellocoton:before {
  content: "\70"; }

/* ==|================
   Module/Slide
   =================== */
.m-slide {
  background: url("img/bg-gradient.jpg") center top repeat-y;
  background-size: 100% 1px;
  padding: 0; }

.m-slide-wrapper {
  position: relative;
  overflow: hidden;
  padding: 0;
  width: 100%; }
  @media screen and (min-width: 62em) {
    .m-slide-wrapper {
      height: 700px; }
      .m-slide-wrapper:before {
        background: url("img/sheyda2.png") no-repeat bottom left;
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 613px;
        height: 100%;
        z-index: 3; } }
  @media screen and (min-width: 75em) {
    .m-slide-wrapper:before {
      z-index: 10; } }

.slide-moving {
  background: white;
  padding: 30px 4%;
  z-index: 5;
  margin: 30px 4.5%; }
  @media screen and (min-width: 62em) {
    .slide-moving {
      position: absolute;
      margin-top: 0;
      margin-bottom: 0;
      padding: 30px 74px;
      top: 50%;
      right: 0;
      max-width: 705px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%); } }

.m-slide {
  text-align: center; }
  .m-slide h2 {
    opacity: 0.8;
    margin: 40px;
    font-size: 3em;
    /* to modify */
    font-size: 2em;
    /* */
    line-height: 1; }
    @media screen and (min-width: 62em) {
      .m-slide h2 {
        font-size: 4.5em;
        /* to modify */
        font-size: 3.5em;
        /* */ } }
    .m-slide h2 span {
      display: block;
      font-size: 0.5em; }
      @media screen and (min-width: 62em) {
        .m-slide h2 span {
          font-size: 0.3em; } }
  .m-slide p {
    font-weight: lighter;
    /* to modify */
    font-size: 0.9em;
    /* */ }

.text-mini {
  font-size: 13px; }
  .text-mini a {
    text-decoration: underline; }

/* ==|====================
   Module/Posts
   ======================= */
.m-post-contenair {
  margin-bottom: 2%; }
  @media screen and (min-width: 62em) {
    .m-post-contenair {
      width: 49%;
      float: left;
      margin-right: 2%; } }
  @media screen and (min-width: 75em) {
    .m-post-contenair {
      width: 32%;
      margin-right: 2%; } }

@media screen and (min-width: 62em) and (max-width: 1199px) {
  .m-post-contenair:nth-child(2n+0) {
    margin-right: 0; } }

@media screen and (min-width: 75em) {
  .m-post-contenair:nth-child(3n+0) {
    margin-right: 0; } }

.m-posts {
  margin: 30px 4.5%; }
  @media screen and (min-width: 62em) {
    .m-posts {
      margin: 46px 2% 123px; } }
  @media screen and (min-width: 75em) {
    .m-posts {
      margin: 46px 0 123px; } }

.m-post {
  position: relative; }
  .m-post img {
    vertical-align: middle; }
  .m-post::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: url("img/bg-gradient-small.jpg") center top repeat-y;
    background-size: 100% 1px; }
  .m-post .text-container {
    border-left: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    padding: 30px; }
  .m-post .author-name, .m-post .title {
    margin: 0; }
  .m-post .author-name {
    font-size: 18px;
    font-weight: lighter; }
  .m-post .title {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 1.2; }
  .m-post .footer {
    border-top: 1px solid #c8c8c8;
    padding: 10px 0 0;
    margin: 5px 0 0; }
  .m-post .btn-pin {
    float: right; }
  .m-post .btn-likes {
    float: left; }

/* ==|================
   Module/Steps
   =================== */
.m-steps {
  color: #7f8084;
  font-size: 15px;
  text-align: center;
  line-height: 1;
  margin-bottom: 30px; }
  .m-steps li {
    margin: 25px auto;
    position: relative;
    width: 102px;
    padding-top: 60px;
    background: url("img/sprite-icons-slide.jpg") center top no-repeat; }
    @media screen and (min-width: 62em) {
      .m-steps li {
        display: inline-block;
        margin: 25px; }
        .m-steps li::after {
          content: "";
          display: block;
          background: #f7ebca;
          width: 92px;
          position: absolute;
          left: 86px;
          top: 20px;
          height: 1px; } }
  .m-steps .step-person {
    background-position: center -147px; }
  .m-steps .step-magic {
    background-position: center -284px;
    /* to modify */
    top: 16px;
    /* */ }
  .m-steps li:last-child::after {
    display: none; }
  .m-steps span {
    display: block;
    text-transform: uppercase; }

/* ==|================
   Module/Form search
   =================== */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="search"],
input[type="tel"],
textarea, select {
  font-size: 18px;
  font-weight: lighter;
  color: #484a50;
  padding: 11px;
  outline: 0;
  border-radius: none;
  background-color: white;
  border: none;
  border-bottom: 1px solid #b2b3b5;
  height: 33px;
  -webkit-appearance: none;
  box-shadow: none; }
  input[type="text"]::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder,
  input[type="password"]::-webkit-input-placeholder,
  input[type="date"]::-webkit-input-placeholder,
  input[type="search"]::-webkit-input-placeholder,
  input[type="tel"]::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #b2b3b5; }
  input[type="text"]:-moz-placeholder,
  input[type="email"]:-moz-placeholder,
  input[type="password"]:-moz-placeholder,
  input[type="date"]:-moz-placeholder,
  input[type="search"]:-moz-placeholder,
  input[type="tel"]:-moz-placeholder,
  textarea:-moz-placeholder, select:-moz-placeholder {
    color: #b2b3b5; }
  input[type="text"]:-ms-input-placeholder,
  input[type="email"]:-ms-input-placeholder,
  input[type="password"]:-ms-input-placeholder,
  input[type="date"]:-ms-input-placeholder,
  input[type="search"]:-ms-input-placeholder,
  input[type="tel"]:-ms-input-placeholder,
  textarea:-ms-input-placeholder, select:-ms-input-placeholder {
    color: #b2b3b5; }

.form-search input[type="text"],
.form-search .formt-text {
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  border-right: none; }
.form-search .btn {
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  vertical-align: top;
  padding: .35em .6em; }

/* .form-search */
.block-form fieldset.block-input, .block-form input, .block-form .btn {
  float: left; }
.block-form input {
  border: 1px solid #eabccb;
  height: 35px; }
.block-form .btn {
  border-radius: 0;
  height: 35px;
  margin-left: -1px; }

/* ==|====================
  	Module/Modal
   ======================= */
#general-background {
  display: none;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50; }

.m-modal-container {
  display: none;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50px;
  right: 50px;
  z-index: 1000;
  background: url("img/gradient-modal.jpg") no-repeat center center;
  background-size: 100% 100%; }

.m-modal {
  background: white;
  text-align: center;
  padding: 50px;
  margin: 10px; }
  .m-modal input, .m-modal .btn {
    margin-bottom: 22px;
    width: 100%;
    max-width: 500px; }
  .m-modal .btnclose {
    cursor: pointer;
    display: block;
    background: url("img/todobtnmodal.jpg") no-repeat center center;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 20px;
    top: 20px; }

/*# sourceMappingURL=screen.css.map */
