/* ==|====================
   Module/Button
   ======================= */

.btn {
	text-transform:uppercase;
	padding:0.5em 1em;
	background: $bg-btn;
	color:$clr-btn;
	font-size:14px;
	border-radius:25px;
	&:hover 
	{
		background:$clr-btn;
		color: $bg-btn;
		border:1px solid $bg-btn;
	}
}

.btn-invert
{
	text-transform:uppercase;
	padding:0.5em 1em;
	background: $clr-btn;
	color:$bg-btn;
	font-size:14px;
	border-radius:25px;
	border:1px solid $bg-btn;
	&:hover 
	{
		background: $bg-btn;
		color:$clr-btn;
	}
}