/* ==|====================
   Module/Button
   ======================= */

// = General
//------------------------
.btn {
	text-transform:uppercase;
	padding:0.5em 1em;
	background: $bg-btn;
	color:$clr-btn;
	font-size:14px;
	border-radius:25px;
	border:1px solid transparent;

	@include transition();
	&:hover 
	{
		background:$clr-btn;
		color: $bg-btn;
		border:1px solid $bg-btn;
	}
}

.btn-invert
{
	text-transform:uppercase;
	padding:0.5em 1em;
	background: $clr-btn;
	color:$bg-btn;
	font-size:14px;
	border-radius:25px;
	border:1px solid $bg-btn;

	@include transition();
	&:hover 
	{
		background: $bg-btn;
		color:$clr-btn;
	}
}

// = Stylings btns
//------------------------

// = Btn likes 
.btn-likes
{
	&::before 
	{
		@extend .iconadd;
		content: "\65";
		position: relative;
    	margin-right: 5px;
    	top: 2px;
	}
}
// = Btn Pinterest
.btn-pin
{
	@extend .ir;
	width:52px;
	height:23px;
	background:url('img/sprite-logos.png') no-repeat center center;
}
// = Social medias
// Facebook
.btn-facebook
{
	span 
	{
		@extend .ir;
	}
	&::before 
	{
		@extend .iconadd;
		content: "\63";
	}
}
// Twitter 
.btn-twitter
{
	span 
	{
		@extend .ir;
	}
	&::before 
	{
		@extend .iconadd;
		content: "\68";
	}
}
// Instagram
.btn-instagram
{
	span 
	{
		@extend .ir;
	}
	&::before 
	{
		@extend .iconadd;
		content: "\66";
	}
}
// HelloCoton
.btn-hellocoton
{
	span 
	{
		@extend .ir;
	}
	&::before 
	{
		@extend .iconadd;
		content: "\70";
	}
}



// = Stylings links
//------------------------
.link-pink 
{
	color: $pink;
	font-weight:lighter;
	font-size:15px;
	&::before 
	{
		content:"▸";
		margin-right:7px;
	}
}