/* ==|================
   Module/Slide
   =================== */

.m-slide
{
    background:url("img/bg-gradient.jpg") center top repeat-y;
    background-size: 100% 1px;
    padding:0; 
}

//Structure Responsive
// -----------------------------
.m-slide-wrapper
{
	position:relative;
    overflow:hidden;
    padding:0;
    width: 100%;
    @media screen and (min-width: $medium) {
        height: 609px;
    	&:before 
    	{	
    		background:url("img/bg-girl.png") no-repeat bottom left;
    		content:" ";
    		position:absolute;
    		bottom:0;
    		left:0;
    		display:block;
    		width:613px;
    		height:100%;
    		z-index:3;
    	}
    }
    @media screen and (min-width: $large) {
        &:before 
        {   
            z-index:10;
        }
    }
}

.slide-moving
{
	background:white;
	padding:30px 4%;
	z-index:5;
    margin:30px 4.5%;
    @media screen and (min-width: $medium) {
        position:absolute;
        margin-top:0;
        margin-bottom:0;
        padding:30px 74px;
        top:50%;
        right:0;
        max-width:705px;
    	-webkit-transform:translateY(-50%);
    	   -moz-transform:translateY(-50%);
    	        transform:translateY(-50%);
    }
}

//Style 
// -----------------------------

.m-slide
{
    text-align:center;
    h2 
    {
    	opacity:0.8;
    	margin:40px;
    	@extend .specialtypo;
        font-size:3em;

        /* to modify */
        font-size:2em;
        /* */
        @media screen and (min-width: $medium) {
    	    font-size:4.5em;

            /* to modify */
            font-size: 3.5em;
            /* */
        }
    	line-height:1;
    	span 
    	{
    		display:block;
    		font-size:0.5em;
            @media screen and (min-width: $medium) {
                font-size:0.3em;
            }
    	}
    }
    p 
    {
    	font-weight: lighter;
        /* to modify */
        font-size: 0.9em;
        /* */
    }

}

.text-mini 
{
    font-size:13px; 
    a 
    {
        text-decoration:underline;
    }
}