/* ==|================
   Module/Steps
   =================== */


.m-steps
{
	color:#7f8084;
	font-size:15px;
	text-align:center;
	line-height:1;
	margin-bottom:30px;
	li 
	{ 
		margin:25px auto;
		position:relative;
		width:102px;
		padding-top:60px;
		background: url('img/sprite-icons-slide.jpg') center top no-repeat;
		@media screen and (min-width: $medium) {
			display:inline-block;
			margin:25px;
			&::after 
			{
				content:"";
				display:block;
				background:$yellow;
				width:92px;
				position:absolute;
				left:86px;
				top:20px;
				height: 1px;
			}
		}	
	}
	.step-person
	{
		background-position: center -147px;
	}
	.step-magic 
	{
		background-position: center -284px;
		/* to modify */
		top: 16px;
		/* */
	}
	li:last-child 
	{
		&::after 
		{
			display:none;
		}
	}
	span 
	{
		display:block;
		text-transform:uppercase;
	}
}