/* ==|====================
   Layout/Footer
   ======================= */

.l-footer {
	background:url("img/bg-gradient.jpg") center top repeat-y;
    background-size: 100% 1px;
}

.l-footer-container 
{
	background:white;
	@extend .wrapper;
	padding:79px 5% 150px;
	position:relative;
}


// = Btns medias 
//------------------------
.btn-medias
{
	width:190px;
	margin:0px auto;
	text-align:center;
	@extend .clearfix;
	height:60px;

	/* to modify */
	width: 290px;
	/* */
	li 
	{
		display:inline-block;
		width:60px;
		margin:0;
		padding:0;
		height:60px;
	}
	a 
	{
		position:relative;
		top:15px;
		color:white;
		font-size:1.5em;
	}	
}

// = Structure
//------------------------
.footer-right
{
	margin-top:50px;
}
/* to modify */
.footer-center
{
	margin:0 auto;
	max-width: 600px;
	text-align:center;
	.block-form 
	{
		margin: 0 auto;
	    display: block;
	    text-align: center;
	    width: 288px;
	}
}
/* */
@media screen and (min-width: $medium) {
	.l-footer-container 
	{
		padding:79px 106px;
	}
	.footer-left 
	{
		float:left;
		width:60%;
		border-right:1px solid $grey-light;
		padding:0 90px 0 21px;
		position:relative;
		height:100%;
	}
	.footer-right
	{
		float:right;
		margin-top:0;
		width:40%;
		padding:0 21px 0 110px;
	}
}

// = Styles
//------------------------

.l-footer
{
	font-weight:lighter;
}

h3 
{
	text-transform:uppercase;
	font-weight:normal;
}

.footer-right
{
	input, .btn 
	{
		width:100%;
		margin-bottom:22px;
		max-width:400px
	}
	.btn 
	{
		font-weight:bold;
		margin-bottom:0;
		padding-bottom:0;
	}
}

.copyright 
{
	position:absolute;
	bottom:30px;
	&::before 
	{
		content:"|";
		position:absolute;;
		top:0;
		color:$pink;
		left:0;
	}
	p 
	{
		padding:0;
		margin:0 0 0 13px;
		font-weight:normal;
	}
	.legend
	{
		font-weight:lighter;
	}
	@media screen and (min-width: $medium) {
		bottom:0;
	}
}