/* ==|====================
   Layout/Footer
   ======================= */

.l-footer {
	background:url("img/bg-gradient.jpg") center top repeat-y;
    background-size: 100% 1px;
}

.l-footer-container 
{
	background:white;
	@extend .wrapper;
	padding:79px 106px;
}


// = Btns medias 
//------------------------
.btn-medias
{
	width:190px;
	margin:0px auto;
	text-align:center;
	@extend .clearfix;
	li 
	{
		display:inline-block;
		width:60px;
		margin:0;
		padding:0;
	}
	a 
	{
		position:relative;
		top:15px;
		color:white;
	}	
}