/* ==|====================
   Layout/Header
   ======================= */

.l-header {
	background:white;
	border-bottom: 2px solid $color2;
	text-align:center;
	
}


// = Responsive structure
// -----------------------------

@media screen and (min-width: $medium) {
	.l-header 
	{
		height:90px;
	}
	.ir-logo1 
	{
		float:left;
	}
	.nav 
	{
		float:right;
		width: 363px;
	}
	.nav-li
	{
		float:left;
		padding:30px;
	}
}


// = Styling
// -----------------------------


/* LOGO */
// ----------------

.ir-logo1
{
	background-image: url("img/ie/logo.jpg");
	max-width:130px;
	background-repeat:no-repeat;
	background-size:100%;
	background-position:center center;
	margin:20px auto;
	height:100%;

	@media screen and (min-width: $medium ) {
		margin:0px auto;
	}
}
.backgroundsize .ir-logo1
{
	background-image: url("img/logo.jpg");
}



