/* ==|====================
   Base/Typos // Import, Tailles, couleurs, fonts
   ======================= */

// = Imports
// -----------------------------


@font-face {
    font-family: 'Brusher';
    src: url('fonts/brusher/brusher-regular.eot');
    src: url('fonts/brusher/brusher-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/brusher/brusher-regular.woff2') format('woff2'),
         url('fonts/brusher/brusher-regular.woff') format('woff'),
         url('fonts/brusher/brusher-regular.ttf') format('truetype'),
         url('fonts/brusher/brusher-regular.svg#allerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



.specialtypo
{
	font-family: 'Brusher', 'Lato', sans-serif;
}


